/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/JSP_Servlet/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : 30 Apr 2023, 4:19:59 pm
    Author     : angus
*/

body {
    padding: 0;
    margin: 0;
    font-family: arial;
    display: flex;
    height: 100%;
    width: 100%;
}



.pop-up-message-container {
    position: fixed;
    top: 15px;
    left: 50%;
    margin-left: -95px;
    z-index: 10;
    /*background-color: #39c560;*/
    background-color: white;
    font-size: 13.5px;
    /*padding: 12px 16px;*/
    border-radius: 5px;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    padding-right: 25px;
    box-shadow: 0 5px 8px 0 rgba(0, 0, 0, .2);
    animation-duration: 250ms;
}

.slide-in {
    animation-name: slideIn;
}

.slide-out {
    top: -70px;
    animation-name: slideOut;
}

@keyframes slideIn {
    from {
        top: -70px;
    } to {
        top: 15px;
    }
}

@keyframes slideOut {
    from {
        top: 15px;
    } to {
        top: -70px;
    }
}

.indicator {
    width: 5px;
    height: 55px;
    background-color: #39c560;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.indicator-icon > img {
    height: 27px;
    width: auto;
}

.pop-up-title {
    font-size: 16px;
}

.pop-up-text {
    color: #999999;
}



.content {
    background-color: #ecf0f6;
    width: 100%;
    height: 100vh;
    margin-left: 95px;
}

.header {
    border-bottom: 1px solid lightgray;
    height: 50px;
    position: fixed;
    width: 89.6vw;
    top: 0;
    background-color: #ecf0f6; 
    padding: 17px 17px 17px 22px;
    display: flex;
    flex-direction: row;
}

.header-left {
    flex: 1;
}

.header-right {
    display: flex;
    align-items: flex-end;
}

.header-title {
    font-size: 21px;
    font-weight: bold;
    margin-bottom: 7px;
}

.header-description {
    font-size: 13px;
    color: gray;
}

.search-form {
    display: flex;
    flex-direction: row;
    align-items: center;
    border: 1px solid lightgray;
    border-radius: 3px;
    background-color: white;
}

.search-form > img {
    height: 17px;
    width: auto;
    margin-left: 10px;
}

.search-form > input {
    border: none;
    outline: none;
    padding: 5px;
}

.search-form > input::placeholder {
    color: lightgray;
}

.search-button {
    background-color: #3399ff;
    color: white;
    font-size: 13px;
    width: 85px;
    cursor: pointer;
}

.search-button:hover {
    background-color: #2461cc;
}




.main-content {
    margin-top: 80px;
    padding: 15px;
}

.list-container {
    display: flex;
    flex-direction: row;
    border: 1px solid lightgray;   
}

.list-menu {
    border-right: 1px solid lightgray;
    background-color: #f4f4f4;
    flex: .15;
    height: 520px;
    overflow-y: auto;
}

.list-menu::-webkit-scrollbar {
    width: 5px;
}

.tab-group {
    padding-bottom: 20px;
}

.tab-group-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-weight: bold;
    font-size: 14px;
    padding: 20px 15px 10px 15px;
}

.tab-group-header > img {
    height: 17px;
    weight: auto;
    margin-right: 10px;
}

.tab-group-content > a {
    text-decoration: none;
}

.tab-item {
    padding: 10px 15px 10px 45px;
    font-size: 13px;
    color: #757778;
    user-select: none;
    cursor: pointer;
}

.tab-item:hover {
    background-color: white;
}




.active-tab {
    /*background-color: #d2e1eb;*/
    background-color: white;
    color: #0993e2;
    font-weight: bold;
    border-left: 3px solid #3366ff;
}

.list-table {
    background-color: white;
    flex: .85;
    height: 520px;
    overflow-y: scroll;
}

.list-table::-webkit-scrollbar {
    width: 5px;
}

.table-actions-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    padding: 15px 15px 12px 15px;
    font-size: 13px;
    align-items: center;
    gap: 15px;
    position: sticky;
    top: 0;
    background-color: white;
    z-index: 1;
}

.sort {
    display: flex;
    flex-direction: row;
    align-items: center;
    cursor: pointer;
    user-select: none;
}

.sort-indicator {
    height: 7px;
    width: 7px;
    border-radius: 50%;
    background-color: #3366ff;
    margin-right: 8px;
}

.sort > img {
    height: 12px;
    width: auto;
    margin-right: 5px
}

.dropdown-content {
    position: absolute;
    display: none;
    margin-top: 10px;
    background-color: #f9f9f9;
    width: 170px;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, .2);
}

.dropdown-content > a {
    text-decoration: none;
    color: black;
}

.dropdown-content-item {
    padding: 12px 16px;
    position: relative;
}

.dropdown-content-item:hover {
    background-color: #f1f1f1;
}

.active-sort {
    border-left: 3px solid #3366ff;
    background-color: white;
}



.add-new {
    padding: 5px 12px;
    background-color: #3399ff;
    color: white;
    width: fit-content;
    font-size: 13px;
    cursor: pointer;
    user-select: none;
}

.add-new:hover {
    background-color: #0066cc;
}

.add-new-icon {
    margin-right: 3px;
}

table {
    width: 97%;
    font-size: 13px;
    border-collapse: collapse;
    margin: 15px;
}

.table-header {
    background-color: #f4f4f4;
    position: sticky;
    top: 52px;
}

.table-header > td, .table-content > td {
    padding: 8px 10px;
    border-bottom: 1px solid lightgray;
}

.image-table-data {
    width: 8%;
    padding-left: 15px;
    height: 60px;
}

.image-table-data > img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
}



#confirmation-container-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: 0.5;
    z-index: 9999;
}

#confirmation-container {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 10000;
    background-color: white;
    box-shadow: 0 3px 8px 2px rgba(0, 0, 0, .2);
    padding: 20px 30px;
    border-radius: 5px;
    max-width: 350px;
}

.button-group {
    display: flex;
    gap: 15px;
    justify-content: center;
}

.delete-button, .cancel-button {
    padding: 10px 0;
    width: 160px;
    text-align: center;
    cursor: pointer;
    user-select: none;
}

.delete-button {
    background-color: #f54835;
    color: white;
}

.cancel-button {
    color: gray;
    border: 1px solid lightgray;
}








